/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Matter-light;
  overflow-x: hidden;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --backgroun
  
}





