
@font-face {
    font-family: Roboto-reg;
    src: url(../../public/fonts/roboto-flex-variable-full.ttf);
  }

  @font-face {
    font-family: Matter-light;
    src: url(../../public/fonts/matter-light.ttf);
  }
  @font-face {
    font-family: Matter-reg;
    src: url(../../public/fonts/matter-regular.ttf);
  }

.tophead-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}



.tophead-title-em {
    /* font-family: Roboto-reg; */
    font-size: 124px;
    font-stretch: 146%;
    font-weight: 100;
    font-variation-settings: "GRAD" -20,"slnt" -10,"YTLC" 553,"opsz" 93;
    letter-spacing: -.04em;
}

.tophead-title-span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tophead-title-video {
    position: relative;
    width: 172px;
    height: 115px;
    border-radius: 1000px;
    overflow: hidden;
    object-fit: cover;
    margin-right: 2rem;
}

@media screen and (max-width: 725px) {
    .tophead-title-video {
        width: 88px;
        height: 58px;
    }
  
}

